#logo{
	width: 20%;
}

body{
	background-color: #404040;
	color: white;
}

@font-face {
    font-family: 'blacksword'; /*a name to be used later*/
    src: url('font/Blacksword.ttf'); /*URL to font*/
}

h1{
	font-family: 'blacksword';
}

.nav-wrapper{
	background-color: #00695c;
}

.side-nav{
	background-color: #404040;
}

.side-nav li>a{
	color: white;
}

.img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.collection .collection-item{
	background-color: #404040;
}

p{
	text-align: justify;
}